NODE_ENV=development
PORT=3333
HOST=0.0.0.0
ORIGEM_FRONTEND=http://localhost:5173
DATABASE_URL="postgresql://lock_in:lock_in@localhost:5433/lock_in_pomodoro?schema=public"
JWT_SECRET=troque-esta-chave-em-desenvolvimento
